{
  "uploadTimes": [
    {
      "day": 0,
      "hour": 11,
      "minute": 0
    }
  ],
  "uploaded": [],
  "maps": [
    {
      "map": "E:/Projects/Game Barks/Twilight Princess/Clips",
      "metaData": {
        "youtube": {
          "titlePrefix": "Twilight Princess | ",
          "description": "",
          "tags": [],
          "category": 22
        },
        "bluesky": {
          "description": "",
          "tags": []
        }
      }
    }
  ]
}
